


.first{
    background-color: saddlebrown;
    height:620px;
    width: available;
}

.Name{
    font-weight: 50;
    font-size: 50px;
    font-family:fantasy;
    color:sandybrown;
    Animation: Name;
    animation-duration: 4s;
    padding-left: 320px;
    padding-top:60px;
}

.Caption{
    font-size: 70px;
    font-family: cursive;
    color: cornsilk;
    padding-top: 130px;
    text-align: justify;
    margin-left: 140px;
    
}

#arrow{
    color:white;
    height:80px;
    width:30px;
    margin-left: 50%;
    margin-top: 200px;
    
}

@media (min-width:100px) and (max-width:600px){

    
.first{
    
    height:500px;
    width: 700px;
}
      
.Name{
        font-size: 35px;
        font-weight: 500;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:sandybrown;
        Animation: Name;
        animation-duration: 4s;
        padding-left: 55px;
        text-align: justify;
        padding-top:60px;
    }

.Caption{
        font-size: 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: cornsilk;
        padding-top: 70px;
        text-align: justify;
        margin-left: 45px;
        
    }

    .Welcome{
        font-size: 10px;
        font-family:monospace;
        color: cornsilk;
        padding-top: 70px;
        text-align: justify;
        padding-right:330px;
    }

 #arrow{
    color:white;
    height:80px;
    width:10px;
    margin-left:150px  ;
    margin-top: 160px;
        
      }
    
}

 @media (min-width:601px) and (max-width:700px){

    
.first{
        height:640px;
        width: 1100px;
        }
              
.Name{
         font-size: 30px;
         font-family:fantasy;
         color:whitesmoke;
         Animation: Name;
         animation-duration: 4s;
         padding-left: 130px;
         padding-top:60px;
            }

.Caption{
         font-size: 35px;
         font-family: cursive;
         color: cornsilk;
         padding-top: 100px;
         text-align: justify;
         margin-left: 110px;
                
            }
            
.Welcome{
        
    font-size: 5px;
    font-family:monospace;
    color: cornsilk;
    padding-top: 70px;
    padding-right:400px;
            }

#arrow{
     color:white;
     height:80px;
     width:30px;
     margin-left:330px  ;
     margin-top: 270px;
                    
                  }
            
            
        }

    @media (min-width:701px) and (max-width:1000px){

    
     .first{
            height:640px;
            width: 1100px;
                    }
                          
      .Name{
            font-size: 30px;
            font-family:fantasy;
             color:whitesmoke;
             Animation: Name;
             animation-duration: 4s;
             margin-left: -330px;
             padding-top:60px;
                        }
            
      .Caption{
             font-size: 35px;
             font-family: cursive;
             color: cornsilk;
             padding-top: 100px;
             text-align: justify;
             margin-left: -110px;
                            
                        }
                        
      .Welcome{
                    
             font-size: 5px;
             font-family:monospace;
             color: cornsilk;
             padding-top: 70px;
             margin-left:-490px;
                        }
            
      #arrow{
             color:white;
             height:80px;
             width:30px;
             margin-left:60px ;
             margin-top: 270px;
                                
                              }
                        
                        
                    }

 @media (min-width:1001px) and (max-width:1300px){

    
 .first{
        height:640px;
        width: available;
         }
                      
 .Name{
        font-size: 30px;
        font-family:fantasy;
        color:whitesmoke;
        Animation: Name;
        animation-duration: 4s;
        padding-left: 90px;
        padding-top:60px;
               }
        
 .Caption{
        font-size: 35px;
        font-family: cursive;
        color: cornsilk;
        padding-top: 100px;
        text-align: justify;
        margin-left: 80px;
                       
     }

 .Welcome{
        font-size: 10px;
        font-family:monospace;
        color: cornsilk;
        padding-top: 70px;
        padding-right:270px;
    }
    
     

       
                               
     }
                    
                      
        


@keyframes Name {
    0% { font-size: 40px }
    25% { font-size: 10px }

}

@keyframes Rightpane {
    25%  {width:available; background-color: chocolate;}
    75%  {width:120px; background-color:coral;}
    100% {width:160px; background-color:peru;}
}



#mypics{
    height:300px;
    width:300px;
    
}


.Welcome{
    font-size: 20px;
    font-family:monospace;
    color: cornsilk;
    padding-top: 70px;
    text-align: center;
}

#mypics{
    border-radius: 150px;
    margin-top: 30px;
    margin-left: 100px;
    max-width: 20%;
    height: 270px;
    
}

.second{
    background-color:wheat;
    height:600px;

}

.Location{
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 90px;
}

#stack{
    color:peru;
    margin-left: 120px;
}

#response{
    max-width:20%;
    height:80px;
    margin-left: 50px;
    
}

#dynamic{
    max-width:15%;
    height:50px;
    margin-left: 70px;
    
}

#desc1{
    max-width:20%;
    height:80px;
    margin-left: 135px;
    margin-top:40px;
    padding-top: 30px;
    
}

#desc2{
    max-width:20%;
    height:80px;
    margin-left: 135px;
    margin-top:10px;
    padding-top: 10px;
    
}

#bold1, #bold2{
    color:brown;
}

.rightpane{
    width: available;
    height: available;
    position: relative;
    margin-left: 50%;
    margin-right: 5%;
    margin-top: -480px;
    color:cornsilk;
   
}

.react {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 10px;
  }

  .javascript, .html, .css, .python, .django{
      margin-top: 10px;
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      height: 10px;
  }
  


.react th, .javascript th, .html th, 
.css th, .python th, .django th {
    border: 1px none #ddd;
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    background-color: chocolate;
    color: white;
  }

   

  #react1 {
      width:15%;
      background-color: saddlebrown;
      padding-left:8px;
  }

  #react2{
      width:60%;
      background-color:sienna;
  }

  #react3 {
    width:25%;
    text-align: right;
    background-color: rgb(231, 165, 98);
    padding:2px;
}


  #js1{
    width:15%;
    background-color: saddlebrown;
  }
  #js2{
    width:65%;
    background-color:sienna;
  }
 
  #js3{
      width: 20%;
      text-align: right;
      background-color: rgb(231, 165, 98);
      padding:0px;
  }


  #html1, #css1{
    width:15%;
    background-color: saddlebrown;
    padding-left:8px;
  }

  #html2, #css2{
    width:70%;
    background-color:sienna;
  }

  #html3, #css3{
    width:15%;
    text-align: right;
    background-color: rgb(231, 165, 98);
    padding:2px;
}

#py1{
    width:15%;
    background-color: saddlebrown;
  }
  #py2{
    width:35%;
    background-color:sienna;
  }
 
  #py3{
      width: 50%;
      text-align: right;
      background-color: rgb(231, 165, 98);
      padding:0px;
  }


  #dj1{
    width:15%;
    background-color: saddlebrown;
  }
  #dj2{
    width:35%;
    background-color:sienna;
  }
 
  #dj3{
      width: 50%;
      text-align: right;
      background-color: rgb(231, 165, 98);
      padding:0px;
  }


  #resume{
      margin-top: 70px;
      height: 50px;
      width:140px;
      margin-left: 470px;
      border-color: saddlebrown;
      border-radius: 6%;
  }

  #resume1{
      color: saddlebrown;
      font-size: 20px;
  }

  .projects{
      margin-top:0px;
      background-color:rgb(207, 153, 88)
  }

  .section-head{
      text-align:center;
      text-decoration: underline;
      padding-top: 40px;
      font-size: 50px;
      color: cornsilk;
  }

  .grid-container{
      display:grid;
      grid-template-columns: auto auto auto;
      padding: 10px;
      margin-top: 60px;
  }

  #grid-item1{
    background-image: url('counter.png');
    width:600px;
    height:350px;
    margin-left:40px;
  }

  .grid-item1{
      width:20%
  }


  #btn-p1{
      margin-top: 250px;
      margin-left: 235px;
      height:40px;
      background-color:rgb(207, 153, 88);
  }

  #project1{
      color: whitesmoke;
  }

 